:root {
	--header-height: 3rem;
	--timeline-height: 5rem;
	--params-form-width: 31.640625vw;
}

body {
	max-width: 100vw;
	max-height: 100vh;
	overflow: hidden;
	margin: 0;
	font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

header {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	height: var(--header-height);
	padding: 0.5rem;

	background-color: black;
	color: white;
}

h1 {
	font-size: 1rem;
	font-weight: bold;
	margin: 0.5rem;
}

header svg {
	width: 2rem;
	height: 2rem;
	object-fit: contain;
	cursor: pointer;

	transition: transform 1s;
	transform: rotate(0deg);
}

body.show-settings header svg {
	transform: rotate(360deg);
}

header svg > * {
	fill: white;
}

#msd-3d {
	width: 100%;
	height: calc(100vh - 3rem);
	background-color: black;
}

#msd-3d canvas {
	width: inherit;
	height: inherit;
	object-fit: contain;
	object-position: center;
	transition: object-position 1s;
}

body.show-params-form #msd-3d canvas {
	object-position: right;
}

body.show-timeline #msd-3d canvas {
	object-position: top;
}

body.show-params-form.show-timeline #msd-3d canvas {
	object-position: right top;
}

#msd-params-form {
	position: absolute;
	z-index: 2;
	top: 3rem;
	bottom: 0;
	left: 0;
	width: var(--params-form-width);
	resize: horizontal;

	background-color: white;
	overflow: auto;

	transition: transform 1s, bottom 1s;
	transform: translateX(-100%);
}

body.show-params-form #msd-params-form {
	transform: translateX(0);
}

body.show-timeline #msd-params-form {
	bottom: var(--timeline-height);
}

#timeline {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: var(--timeline-height);

	box-sizing: border-box;
	background-color: white;
	border-top: 2px solid black;

	transition: transform 1s;
	transform: translateY(100%);
}

body.show-timeline #timeline {
	transform: translateY(0);
}

